# Исключить файлы и папки виртуального окружения
venv/

__pycache__/

# Исключить скрытые файлы и папки PyCharm
.idea/

# Исключить файлы конфигурации среды разработки
.vscode/
*.code-workspace

# Исключить файлы сборки и зависимости
*.pyc
*.pyo
*.pyd
.Python
*.so

# Исключить файлы тестирования и отладки
.coverage
*.coverage
*.cover
*.log

# Исключить другие ненужные файлы и папки
*.swp
*.swo
*.zip
*.tar.gz
*.rar
*.tar.bz2
*.7z
dist/
build/
tmp/